<!DOCTYPE html>
<% var pageLanguage = theme.language || config.language; %>
<html lang="<%= pageLanguage %>">
<%- partial('partials/head', {}) %>

<body>
<div class="header">
    <%- partial('partials/header', {}) %>
</div>
<div class="container post-body">
    <%- body %>
</div>
<div class="footer">
    <%- partial('partials/footer', {}) %>
</div>
</body>
</html>
